
html::-webkit-scrollbar{width:0}
html{
  font-size: $font-html-size;
  -webkit-text-size-adjust:100%;
}
body{
  background-color:$body-bg;
  font-family:$font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: $line-height-base;
  font-size: 0.6rem;
  color: $text-color;
}
.dinline-l {
  float: left;
  display: inline-block;
}
.dinline-r {
  float: right;
  display: inline-block;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}
.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
a {
  color: $font-33;
}
