.iconf {
  background: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
  vertical-align: middle;
}
