/*ting*/
.msg-item {
  margin-bottom: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #d8d8d8;
  .msg-inner {
    padding: 0.85rem 0.7rem;
    .tit {
      font-size: 0.85rem;
      line-height: 1.3;
      .tit-href {
        display: block;
        overflow: hidden;
        max-height: 3.315rem;
        color: #333;
      }
    }
    .user-info {
      color: #666;
      font-size: 0.7rem;
      margin: 0.5rem 0;
      @extend %ellipsis;
      & > a {
        color: #666;
        span + span {
          margin-left: 0.75rem;
        }
      }
    }
    .ting-box {
      margin-top: 0.65rem;
      width: 100%;
      height: 50px;
      .item-img {
        a {
          color: #333;
          .img-head {
            width: 50px;
            height: 50px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }
        }
      }
      .item-audio {
        padding: 3px 0;
        .btn-ting {
          @extend %boxSize;
          padding-left: 52px;
          span {
            padding: 0 5px;
          }
        }
      }

    }
    .answer-info {
      color: #999;
      font-size: 0.7rem;
      margin-top: 0.5rem;
    }
  }
}
.btn-ting {
  background: transparent url(../src/img/btn-ting.png) left center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 45px;
  width: 225px;
  margin-left: 10px;
  position: relative;
  line-height: 45px;
  color: #ffffff;
  padding-left: 2.6rem;
  span {
    padding: 0 5px;
  }
}
.dinline-l {
  float: left;
  display: inline-block;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}
.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
