/*ting*/
.question-item {
  margin-bottom: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #d8d8d8;
  .question-inner {
    padding: 0.85rem 0.7rem;
    .tit {
      font-size: 0.85rem;
      line-height: 1.3;
      .tit-href {
        display: block;
        overflow: hidden;
        max-height: 3.315rem;
        color: #333;
      }
    }
    .user-info {
      color: #666;
      font-size: 0.7rem;
      margin: 0.5rem 0;
      @extend %ellipsis;
      & > a {
        color: #666;
        span + span {
          margin-left: 0.75rem;
        }
      }
    }
    .ting-box {
      margin-top: 0.65rem;
      width: 100%;
      height: 50px;
      .answerer-avatar {
        position: relative;
        width: 50px;
        @extend %roundborder;
        overflow: hidden;
        border: 1px solid #eee;
        .paddingT {
          padding-top: 100%;
        }
        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 33;
        }
        .img-head {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          max-height: 100%;
          max-width: 100%;
          margin: auto;
        }
      }
      .item-audio {
        padding: 3px 0;
        .btn-ting {
          @extend %boxSize;
          padding-left: 52px;
          span {
            padding: 0 5px;
          }
        }
      }

    }
    .answer-info {
      color: #999;
      font-size: 0.7rem;
      margin-top: 0.5rem;
    }
  }
}

.btn-ting {
  span {
    padding: 0 5px;
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.question-detail {
  padding: 0.25rem 0;
  margin-bottom: 0.25rem;
  background-color: #ffffff;
  .head {
    position: relative;
    .name, .img-head, .hd-if {
      display: table-cell;
      vertical-align: middle;
      a {
        color: #333;
        span{
          color: $font-99;
        }
      }
    }
    .name, .hd-if {
      font-size: 0.65rem;
      padding-left: 0.75rem;
    }
    .img-head {
      img {
        width: 1.5rem;
        height: 1.5rem;
        @extend %roundborder;
      }
    }
    .hd-if {
      color: #999;
    }
    .price {
      color: #ce3d3a;
      font-size: 0.65rem;
      position: absolute;
      right: 0;
      top: 0;
      line-height: 2rem;
    }
  }
  .body {
    padding-top: 0.25rem;
    .ts-shell {
      /* width: 14%; */
      /* padding-top: 0.25rem; */
      padding-top: 0.2rem;
      display: table-cell;
      vertical-align: top;
      padding-right: 0.5rem;
    }
    .question-tit {
      display: table-cell;
      vertical-align: top;
      font-size: 0.75rem;
      color: $font-33;
    }
  }
  .foot {
    font-size: 0.65rem;
    color: #999;
    margin-top: 0.2rem;
  }
}

.question-tit {
  font-size: 0.75rem;
}

.answer-media {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  .btn-ting{
    background-image: url(../src/img/btn-ting-2.png);
  }
  .media-head, .media-body {
    display: table-cell;
    vertical-align: middle;
    @extend %boxSize;
  }
  .media-head {
    img {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
}

.yinbo, .btn-audio .preloader {
  position: absolute;
  left: 1.0rem;
  top: 50%;
  margin-top: -0.5rem;
  width: 1.0rem;
  height: 1.0rem;
  overflow: hidden;
}

.btn-audio .preloader {
  display: none;
}

.yinbo img {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-user-select: none;
}

.active > .yinbo img:nth-child(2) {
  animation: bofang1 1s infinite;
  -webkit-animation: bofang1 1s infinite;
}

.active > .yinbo img:nth-child(3) {
  animation: bofang2 1s infinite;
  -webkit-animation: bofang2 1s infinite;
}

@keyframes bofang1 {
  from {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes bofang1 {

  from {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes bofang2 {
  from {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes bofang2 {

  from {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.zan-box {
  font-size: 0.65rem;
  margin-top: 1.4rem;
  text-align: center;
  color: $font-99;
  .zan-msg-tit {
    margin-top: 0.65rem;
    font-size: 0.65rem;
    text-align: center;
  }
  .zan-choose-box {
    .iconf {
      margin-right: 0.2rem;
    }
  }
  a + a {
    margin-left: 0.7rem;
  }
  .zaned-txt {
    padding: .5rem 0;
    color: #ce3d3a;
    text-align: center;
  }
}

.btn-up {
  .icon-up-btn {
    background-image: url(../src/img/icon-up-btn.png);
  }
  &.active {
    border: 1px solid #ce3d3a;
    color: #ce3d3a;
    .icon-up-btn {
      background-image: url(../src/img/icon-up-btn-active.png);
    }
  }
}
.btn-down {
  .icon-down-btn {
    background-image: url(../src/img/icon-down-btn.png);
  }
  &.active {
    border: 1px solid #ce3d3a;
    color: #ce3d3a;
    .icon-down-btn {
      background-image: url(../src/img/icon-down-btn-active.png);
    }
  }
}

.question-buttons-box{
  margin:1.5rem 0;
  text-align: center;
  .btns{
    line-height: 1.5rem;
    height: 1.5rem;
    padding: 0 0.85rem;
    font-size:0.65rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &+.btns{
      margin-left: 1rem;
    }
  }
}
.btns-pill {
  border-radius: 200px;
}
.close-question{
  /*background-color: #eeeeee;*/
}
.reply-question{
  background-color: #ce3d3a;
}
