.row {
  @extend %flex;
  margin-right: -15px;
  margin-left: -15px;
}
.col{
  @extend %col
}
.col-50 {
  display: inline-block;
  float: left;
  width: 50%;
  position: relative;
  @extend %boxSize;
}
.col-33 {
  position: relative;
  width: 33.3333%;
  display: inline-block;
  float: left;
  min-height: 1px;
  @extend %boxSize;
}
